*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
font-family: Fredoka, sans serif;
width: 1260px;
margin: auto;
}

header,p {
    text-align: center;
}

h1{
    font-size: 3rem;
    margin: 50px 0px;
    color: #E5316F
}

p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.card{
height: 120px;
width: 400px;
background-color: black;
color: white;
float: left;
margin: 0px 10px;
vertical-align: middle;
line-height: 30px;
border-radius: 20px;
}

img{
    height: 120px;
    float: left;
    margin-right: 10px;
    border-radius: 20px 0 0 20px;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

section{
    margin: 20px 0px;
}

h2{
    margin-top: 20px;
}

span{
    color: #B48C68;
    display: block;
}

a{
    color: #347FAD;
    text-decoration: none;
}
