*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
font-family: Fredoka, sans serif;
width: 1280px;
margin: auto;
}

header,p {
    text-align: center;
}

h1{
    font-size: 3rem;
    margin: 50px 0px;
    color: #E5316F
}

p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.card{
height: 120px;
width: 400px;
background-color: black;
color: white;
float: left;
margin: 0px 10px;
}

img{
    height: 120px;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

section{
    margin: 20px 0px;
}